@charset "UTF-8";

@import "default.css";

ul.dropdown{width:100%;}

ul.dropdown li a {
 display: block;
 padding: 7px 10px;
}

ul.dropdown li {
 padding: 0;
}


ul.dropdown li.dir {
 padding: 7px 20px 7px 10px;
}

ul.dropdown ul li.dir {
 padding-right: 15px;
}


ul.dropdown ul a {
 width: 129px;
}

ul.dropdown ul a:hover {}

ul.dropdown ul a.dir {
 width: 124px;
}
